.NavbarItems {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.navText {
  color: white;
}

.nav-no-decoration {
  text-decoration: none;
}

@media (max-width: 499px) {
  .NavbarItems.row {
    display: none;
  }
}
