.sliderText {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.sliderText > h2 {
  margin: 2px;
  font-size: 3.5em;
}

.sliderText > p {
  margin-top: 0.5em;
  font-size: 1.5em;
}

.sliderImage {
  min-width: 500px;
  width: 100%;
  height: auto;
}

.carouselPointer {
  cursor: pointer;
}
