.sliderText {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.sliderText > h2 {
    margin: 2px;
    font-size: 3.5em;
}

.sliderText > p {
    margin-top: 0.5em;
    font-size: 1.5em;
}

.sliderImage {
    width: 100%;
    height: 35em;
}

.carouselPointer {
    cursor: pointer;
}